.App {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,247,245,1) 0%, rgba(0,212,255,0.039653361344537785) 100%);
}

.App-logo {
  height: 100px;
  float: left;
}

.notaspuntocom{
  float: left;
  font-size: 250% ;
  font-family: "ARIAL"f;
  margin-left: 10px;
}
